* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    /* Размеры изображений */
    --artwork-width: 400px;
    --artwork-height: 450px;
    --vibe-width: 780px;
    --vibe-height: 450px;

    /* Отступы */
    --side-padding: 50px;
    --gap-between-images: 25px;
    --gap-between-rows: 50px;
}

body {
    overflow-x: hidden;
    background: url('design/background.png') center/cover no-repeat fixed;
    min-width: calc(var(--artwork-width) + var(--vibe-width) + var(--gap-between-images) + (var(--side-padding) * 2));
}

main {
    padding: 0 var(--side-padding);
    margin: 0 auto;
    min-width: 100%;
    display: flex;
    justify-content: center;
}

.gallery {
    max-width: 1200px;
    width: 100%;
}

.row {
    margin: var(--gap-between-rows) 0;
    display: flex;
    justify-content: flex-start;
    width: 100%;
}

.row:has(.image-container.single) {
    justify-content: center;
}

.image-container {
    display: flex;
    gap: var(--gap-between-images);
}

/* Общие стили для всех изображений */
.image-container img {
    object-fit: cover;
}

/* Стили для размеров изображений */
.image-container img:first-child,
.image-container.single img {
    width: var(--artwork-width);
    height: var(--artwork-height);
}

.image-container:not(.single) img:last-child {
    width: var(--vibe-width);
    height: var(--vibe-height);
}
